// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #08aeea;
$primary-invert: findColorInvert($primary);
$dark: #293545;
$dark-invert: findColorInvert($dark);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    'white': (
        $white,
        $black
    ),
    'black': (
        $black,
        $white
    ),
    'light': (
        $light,
        $light-invert
    ),
    'dark': (
        $dark,
        $dark-invert
    ),
    'primary': (
        $primary,
        $primary-invert
    ),
    'info': (
        $info,
        $info-invert
    ),
    'success': (
        $success,
        $success-invert
    ),
    'warning': (
        $warning,
        $warning-invert
    ),
    'danger': (
        $danger,
        $danger-invert
    ),
    'twitter': (
        $twitter,
        $twitter-invert
    )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
